h1{
    font-size: 100px;
    font-style: oblique;
    font-style: italic;
    color: rgb(145, 103, 184);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Times New Roman', Times, serif;
    font-weight: lighter;
    
}